<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Covid Registration System</title>

    <div th:replace="fragments/stylesheets :: stylesheets"></div>
</head>

<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container py-4">
        <div class="row">
            <div>
                <h1 th:text="'Welcome to Covid Registration System'"></h1>
                <h3 th:text="'Name: ' + ${userName}"></h3>
                <h3 th:text="'Role: ' + ${role}"></h3>
            </div>
        </div>
    </div>
    <div th:replace="fragments/scripts :: scripts"></div>
</body>

</html>