<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Covid Registration System</title>

    <div th:replace="fragments/stylesheets :: stylesheets"></div>
</head>

<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container py-4">
        <form name='f' th:action="@{/verifyPinCode}" th:object="${interviewForm}" method='POST' class="mt-4">
            <label for="pinCode">Please enter your PIN Code</label>
            <h6 th:text=" ${error} ? ${error} : '' " class="${error} ? text-danger : '' "></h6>
            <input type='text' name='pinCode' value='' th:value="${pinCode}" class=" form-control"
                placeholder="e.g. 12345" required>
            <button type="submit" class="btn btn-primary mt-4">Submit</button>
        </form>
    </div>
    <div th:replace="fragments/scripts :: scripts"></div>
</body>

</html>