<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Covid Registration System</title>

    <div th:replace="fragments/stylesheets :: stylesheets"></div>
</head>

<body>
    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="container py-4">
        <h1 class="text-center">Booking Reverted!</h1>
    </div>

    <div th:replace="fragments/scripts :: scripts"></div>
</body>

</html>